APP_ENV=development
PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=taskdb
DB_SSLMODE=disable
JWT_SECRET=change-this-secret
ACCESS_TOKEN_TTL_MIN=30
REFRESH_TOKEN_TTL_HR=168
